

	<div class="page-hero bg-primary text-white" id="banner">
	
	<center style="padding-bottom:1rem;">
<h2 class="title">Nintendo® Blocks to MegaBytes / GigaBytes Converter</h1>
</center>
		<div class="bubbles d-none d-md-block">
<!-- 				bubbles -->
      <div class="bubble bubble-1 rotate-bubble bg-warning"></div>
      <div class="bubble bubble-2 bubble-bottom-right bg-danger rotate-bubble"></div>
      <div class="bubble bubble-3 bubble-top-right bg-warning rotate-bubble"></div>
      <div class="bubble bubble-4 bubble-top-left bg-info rotate-bubble"></div>
      <div class="bubble bubble-5 bg-info rotate-bubble"></div>
      <div class="bubble bubble-6 bubble-bottom-right bg-danger rotate-bubble"></div>
      <div class="bubble bubble-7 bubble-top-right bg-success rotate-bubble"></div>
      <div class="bubble bubble-8 bubble-top-left bg-success rotate-bubble"></div>
      <div class="bubble bubble-9 bg-warning rotate-bubble"></div>
      <div class="bubble bubble-10 bg-danger rotate-bubble"></div>
      <div class="bubble bubble-11 bubble-bottom-right bg-info rotate-bubble"></div>
      <div class="bubble bubble-12 bubble-top-right bg-success rotate-bubble"></div>
      <div class="bubble bubble-13 bubble-top-left bg-success rotate-bubble"></div>
<!--         circles -->
      <div class="circle circle-1 bg-light rotate-circle"></div>
      <div class="circle circle-2 bg-success rotate-circle"></div>
      <div class="circle circle-3 bg-danger rotate-circle"></div>
      <div class="circle circle-4 bg-info rotate-circle"></div>
      <div class="circle circle-5 bg-success rotate-circle"></div>
      <div class="circle circle-6 bg-info rotate-circle"></div>
      <div class="circle circle-7 bg-warning rotate-circle"></div>
      <div class="circle circle-8 bg-white rotate-circle"></div>
      <div class="circle circle-9 bg-warning rotate-circle"></div>
      <div class="circle circle-10 bg-danger rotate-circle"></div>
		</div>
	  <div class="container">
	  
<div style="width:100%; margin:0 auto;">

<div class="row center-xs">
  <div class="col-xs-12">
    <div id="parent" class="box" >

    	<div class="div">
			<form class="form" >
				<h3 style="padding-top:1%; padding-bottom:2%;">Blocks to MegaBytes/GigaBytes</h3>
				<center>
				<div style="display: flex; flex-direction: column; padding-left:1%;">
				<input id="a1" type="text" value="" class="actions form-control-mobile" placeholder="Blocks" onInput="calculate();" autofocus/>
				 <strong class="myfont color-text-in" style="margin-bottom:5%;"> Blocks </strong> <input id="a2" type="text" value="Zero" class="color-box text-white actions form-control-mobile" readonly/> 
				 <strong class="myfont color-text-in" style="margin-bottom:5%;"> MB </strong><input id="a3" type="text" value="Zero" class="color-box text-white actions form-control-mobile" readonly/>
				  <strong class="myfont color-text-in" style="margin-bottom:5%;"> GB </strong>
				</div>
				</center>

			</form>
			
		<hr/>
		<form class="form" style="margin-top:3em;">
			<h3 style="padding-top:1%; padding-bottom:2%;">MegaBytes to Blocks</h3>
			
			<center>
			<div style="display: flex; flex-direction: column; padding-left:1%;">
			<input id="a4" type="text" value="" class="actions form-control-mobile" placeholder="MegaBytes" onInput="calculate();" /> 
			<strong class="myfont color-text-in" style="margin-bottom:5%;"> MB </strong> <input id="a5" type="text" value="Zero" class="color-box text-white actions form-control-mobile" readonly/>
			 <strong class="myfont color-text-in" style="margin-bottom:5%;"> GB </strong> ➤ ➤ <input id="a6" type="text" value="Zero" class="color-box text-white actions form-control-mobile" readonly/> 
			 <strong class="myfont color-text-in" style="margin-bottom:5%;"> Blocks</strong>
			</div>
			</center>
		</form>
		<hr/>
		<form class="form" style="margin-top:3em;">
			<h3 style="padding-top:1%; padding-bottom:2%;">GigaBytes to Blocks</h3>
			
			<center>
			<div style="display: flex; flex-direction: column; padding-left:1%;">
			<input id="a7" type="text" value="" class="actions form-control-mobile" placeholder="GigaBytes" onInput="calculate();" />
			 <strong class="myfont color-text-in" style="margin-bottom:5%;"> GB </strong> <input id="a8" type="text" value="Zero" class="color-box text-white actions form-control-mobile" readonly/>
			  <strong class="myfont color-text-in" style="margin-bottom:5%;"> MB </strong>  ➤ ➤ <input id="a9" type="text" value="Zero" class="color-box text-white actions form-control-mobile" readonly/> 
			  <strong class="myfont color-text-in" style="margin-bottom:5%;"> Blocks</strong>
			</div>
			</center>
		</form>
		
		</div>
    </div>
  </div>
</div>
</div>
</div>
</div>
