
<div style="width:95%; margin:0 auto;">
<div class="row center-xs">
  <div class="col-xs-8 com-md-6">
		<h1 class="title">Nintendo® Blocks to MegaBytes/GigaBytes Converter</h1>
    <div id="parent" class="box" >

    	<div class="div">
			<form class="form">
				<h3 style="padding-top:1em;">Blocks to MegaBytes/GigaBytes</h3>
				<input id="a1" type="text" value="8" class="actions form-control" placeholder="Blocks"/> <strong>Blocks</strong> ➤ ➤ <input id="a2" type="text" value="1" class="actions form-control2" readonly/> <strong> MB </strong><input id="a3" type="text" value="0.0009765625" class="actions form-control2" readonly/> <strong> GB </strong>

			</form>
		<form class="form" style="margin-top:3em;">
			<h3>MegaBytes to Blocks</h3>
			<input id="a4" type="text" value="1" class="actions form-control" placeholder="MegaBytes" /> <strong> MB </strong> <input id="a5" type="text" value="0.0009765625" class="actions form-control2" readonly/> <strong> GB </strong> ➤ ➤ <input id="a6" type="text" value="8" class="actions form-control2" readonly/> <strong>Blocks</strong>
		</form>
		<form class="form" style="margin-top:3em;">
			<h3>GigaBytes to Blocks</h3>
			<input id="a7" type="text" value="1" class="actions form-control" placeholder="GigaBytes" /> <strong> GB </strong> <input id="a8" type="text" value="1024" class="actions form-control2" readonly/> <strong> MB </strong>  ➤ ➤ <input id="a9" type="text" value="8192" class="actions form-control2" readonly/> <strong>Blocks</strong>
		</form>
    	</div>
    </div>
  </div>
</div>
</div>