<footer class="footer-1 bg-light text-dark" style="width:103%">
<div class="container">
<div class="copyright text-center">
	<hr />
	<p style="font-size:1em;" class="small">&copy; 2016-2020, made with ❤</span> by Darukeru 
	|| Powered by:</strong>  <%= link_to 'Rails', 'http://rubyonrails.org/' %> 
	</p>
      <p> <a href="http://www.reddit.com/user/Darukeru" target="_blank"> <img src="http://www.redditstatic.com/spreddit1.gif" /> </a>
      <a href="http://www.twitter.com/Darukeru" target="_blank"> <img src="http://i.imgur.com/yoa240I.png" /> </a>
      </p>
</div>
</div>
</footer>