<footer class="footer bg-light text-dark fixed-bottom" style="margin-top: 5%; width:103%;">
<div class="container">
<div class="copyright text-center">
	<hr />
	<p style="font-size:1em;" class="small">&copy; 2016-2020, made with ❤</span> by Darukeru 
	|| Powered by:</strong>  <%= link_to 'Rails', 'http://rubyonrails.org/' %> 
	</p>
      <p> <a href="http://www.reddit.com/user/Darukeru" target="_blank"> <img src="https://www.redditstatic.com/spreddit1.gif" /> </a>
      <a href="http://www.twitter.com/Darukeru" target="_blank"> <img src="http://i.imgur.com/yoa240I.png" /> </a>
      </p>
</div>
</div>
</footer>
<script  type="text/javascript">



        
function calculate(){

	var a1= document.getElementById("a1");
	var a2= document.getElementById("a2");
	var a3= document.getElementById("a3");
	var a4= document.getElementById("a4");
	var a5= document.getElementById("a5");
	var a6= document.getElementById("a6");
	var a7= document.getElementById("a7");
	var a8= document.getElementById("a8");
	var a9= document.getElementById("a9");

	a2.value=(a1.value /8);
    a3.value=(a1.value /8192);
    a5.value=(a4.value /1024);
    a6.value=(a4.value *8);
    a8.value=(a7.value *1024);
    a9.value=(a7.value *8192);
};

	
</script>